<div class="container">
  <div class="slider">
    <ul>
      <li>
        <div class="img-nueva">
          <img
            src="./assets/ferre1.jpg"
            alt=""
          />
        </div>
      </li>
      <li>
        <div class="img-nueva">
          <img
            src="./assets/ferre2.jpeg"
            alt=""
          />
        </div>
      </li>
      <li>
        <div class="img-nueva">
          <img
            src="./assets/ferre3.jpg"
            alt=""
          />
        </div>
      </li>
      <li>
        <div class="img-nueva">
          <img src="./assets/ferre4.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="./assets/ferre6.PNG"
          />
        </div>

        <mat-card-content>
          <div class="link-btn">
            <h1>SERVICIO</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="./assets/ferre7.PNG"
          />
        </div>

        <mat-card-content>
          <div class="link-btn">
            <h1>NOSOTROS</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="./assets/ferre5.PNG"
          />
        </div>

        <mat-card-content>
          <button md-button (click)="onSubmit()" class="link-btn">
            <h1>PRODUCTOS</h1>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
